<div class="todo-container">
    <form class="todo-form">
        <h2>Ajouter un Todo</h2>
        <div class="form-group">
            <label for="todo">Nouvelle tâche</label>
            <input type="text" id="todo" name="todo" [(ngModel)]="newTodo">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onNewTodo()"
            [disabled]="newTodo == undefined">Ajouter</button>
    </form>
    <div class="todo-list">
        <h2>Liste des Todos</h2>
        <ul *ngIf="todos">
            <li *ngFor="let todo of todos">
                <input type="checkbox" id="done" (click)="updateStatus(todo.id)" [checked]="todo.isDone">
                <label [class]="todo.isDone ? 'dash' : ''">{{ todo.title }}</label>
                <span class="trash" (click)="onDelete(todo.id)">❌</span>
            </li>
            <hr>
            <p *ngIf="todos.length <= 0">Aucune tâche pour l'instant</p>
        </ul>
        <li>
            <input type="checkbox" id="hideTodo" (change)="onHideTodoChange($event)">
            <label for="hideTodo">Masquer les tâches terminées</label>
        </li>
    </div>
</div>