<div class="form-container">
    <form [formGroup]="registerForm">
        <h2>Inscription</h2>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" id="name" formControlName="fullName">
            @if (fullName?.invalid && (fullName?.dirty
            ||fullName?.touched)) {
            <p *ngIf="fullName?.hasError('required')" class="error">Le nom est obligatoire!
            </p>
            }
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email">
            @if (email?.invalid && (email?.dirty || email?.touched)) {
            <p *ngIf="email?.hasError('required')" class="error">L'email est obligatoire!</p>
            <p *ngIf="email?.hasError('email')" class="error">L'email doit être valid!</p>
            }
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password">
            @if (password?.invalid && (password?.dirty
            ||password?.touched)) {
            <p *ngIf="password?.hasError('required')" class="error">Le mot de passe est obligatoire!
            </p>
            }
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirmer le mot de passe</label>
            <input type="password" id="confirm-password" formControlName="passwordConfirm">
            @if (passwordConfirm?.invalid && (passwordConfirm?.dirty
            ||passwordConfirm?.touched)) {
            <p *ngIf="passwordConfirm?.hasError('required')" class="error">La confrimation du mot de
                passe
                est obligatoire!
            </p>
            }
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmitForm()"
            [disabled]="registerForm.invalid">S'inscrire</button>
    </form>
</div>